*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    font-weight: normal;
    font-family: "Roboto";
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    
}
span{
    font-weight: bold;
}
label{
    color: #777777;
}
.paragraphs{
    margin-left: 24px;
    margin-bottom: 6px;
}
body{
    background: #E5E5E5;
}

.container{
    width: 375px;
    height: 766px;
    background: #F4F4F4;
    margin: 0 auto;
    margin-top: 60px;
}
label{
    margin-top: 23px;
    margin-bottom: 6px;
    display: block;
}
header{
    background: #1B83E2;
    width: 375px;
    height: 66px;
}
h1{
    font-size: 24px;
    line-height: 18px;
    color: #F4F4F4;
    text-align: center;
    padding-top: 22px;
   
}
select{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 327px;
    height: 48px;
    border-radius: 4px;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    outline: none;
    appearance: none;
    padding-left: 16px;

}


input{
    width: 327px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
input::placeholder{
    padding-left: 16px;
}

button{
    font-weight: bold;
    color: #F4F4F4;
    font-size: 16px;
    line-height: 18px;  
    width: 327px;
    height: 48px;
    background: #1B83E2;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 24px;
    margin-bottom: 51px;
    border: none;
    cursor: pointer;

}
#section-currency{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #1B83E2;
    border-radius: 4px;
    width: 327px;
    height: 276px;
    
}
button:hover{
    opacity: 0.9;
}
button:active{
    opacity: 0.7;
}
.currency-container{
    text-align: center;
    padding: 10px;
}
.currency-name{
    font-size: 14px;
    line-height: 18px;
    color: #777777;
    margin-top: 3px;

}
.currency-value{
    margin-top: 3px;
    font-weight: bold;
    font-size: 20px;
    line-height: 18px;
    align-items: center;
    color: #1B83E2;
}
.arrow-img{
    display: block;
    margin:  auto;
}
